.chess__container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}
.chess__chess-board {
  width: 460px;
  height: 460px;
  border: 1px solid #000;
  margin: 20px auto;
}
.chess__chess-board div {
  float: left;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
}
.chess__chess-board :nth-child(12), .chess__chess-board :nth-child(14), .chess__chess-board :nth-child(16), .chess__chess-board :nth-child(18), .chess__chess-board :nth-child(18), .chess__chess-board :nth-child(23), .chess__chess-board :nth-child(25), .chess__chess-board :nth-child(27), .chess__chess-board :nth-child(29), .chess__chess-board :nth-child(32), .chess__chess-board :nth-child(34), .chess__chess-board :nth-child(36), .chess__chess-board :nth-child(38), .chess__chess-board :nth-child(43), .chess__chess-board :nth-child(45), .chess__chess-board :nth-child(47), .chess__chess-board :nth-child(49), .chess__chess-board :nth-child(52), .chess__chess-board :nth-child(54), .chess__chess-board :nth-child(56), .chess__chess-board :nth-child(58), .chess__chess-board :nth-child(63), .chess__chess-board :nth-child(65), .chess__chess-board :nth-child(67), .chess__chess-board :nth-child(69), .chess__chess-board :nth-child(72), .chess__chess-board :nth-child(74), .chess__chess-board :nth-child(76), .chess__chess-board :nth-child(78), .chess__chess-board :nth-child(83), .chess__chess-board :nth-child(85), .chess__chess-board :nth-child(87), .chess__chess-board :nth-child(89) {
  background: black;
}
.chess__chess-board :nth-child(1), .chess__chess-board :nth-child(2), .chess__chess-board :nth-child(3), .chess__chess-board :nth-child(4), .chess__chess-board :nth-child(5), .chess__chess-board :nth-child(6), .chess__chess-board :nth-child(7), .chess__chess-board :nth-child(8), .chess__chess-board :nth-child(9), .chess__chess-board :nth-child(10) {
  background: green;
  height: 20px;
  border: 1px solid #236c23;
}
.chess__chess-board :nth-child(1), .chess__chess-board :nth-child(10), .chess__chess-board :nth-child(11), .chess__chess-board :nth-child(20), .chess__chess-board :nth-child(21), .chess__chess-board :nth-child(30), .chess__chess-board :nth-child(31), .chess__chess-board :nth-child(40), .chess__chess-board :nth-child(41), .chess__chess-board :nth-child(50), .chess__chess-board :nth-child(51), .chess__chess-board :nth-child(60), .chess__chess-board :nth-child(61), .chess__chess-board :nth-child(70), .chess__chess-board :nth-child(71), .chess__chess-board :nth-child(80), .chess__chess-board :nth-child(81), .chess__chess-board :nth-child(90), .chess__chess-board :nth-child(91), .chess__chess-board :nth-child(100), .chess__chess-board :nth-child(91), .chess__chess-board :nth-child(100) {
  background: green;
  width: 20px;
  border: 1px solid #236c23;
}
.chess__chess-board :nth-child(91), .chess__chess-board :nth-child(92), .chess__chess-board :nth-child(93), .chess__chess-board :nth-child(94), .chess__chess-board :nth-child(95), .chess__chess-board :nth-child(96), .chess__chess-board :nth-child(97), .chess__chess-board :nth-child(98), .chess__chess-board :nth-child(99), .chess__chess-board :nth-child(100) {
  background: green;
  height: 20px;
  border: 1px solid #236c23;
}
.chess__chess-board :nth-child(12), .chess__chess-board :nth-child(89) {
  background: black url(../img/ladya-b.png) center no-repeat;
}
.chess__chess-board :nth-child(13), .chess__chess-board :nth-child(88) {
  background: url(../img/slon.png) center no-repeat;
}
.chess__chess-board :nth-child(14), .chess__chess-board :nth-child(85) {
  background: black url(../img/kon-b.png) center no-repeat;
}
.chess__chess-board :nth-child(15), .chess__chess-board :nth-child(84) {
  background: url(../img/kon.png) center no-repeat;
}
.chess__chess-board :nth-child(16) {
  background: black url(../img/korol-b.png) center no-repeat;
}
.chess__chess-board :nth-child(86) {
  background: url(../img/korol.png) center no-repeat;
}
.chess__chess-board :nth-child(17) {
  background: url(../img/koroleva.png) center no-repeat;
}
.chess__chess-board :nth-child(87) {
  background: black url(../img/koroleva-b.png) center no-repeat;
}
.chess__chess-board :nth-child(18), .chess__chess-board :nth-child(83) {
  background: black url(../img/slon-b.png) center no-repeat;
}
.chess__chess-board :nth-child(19), .chess__chess-board :nth-child(82) {
  background: url(../img/ladya.png) center no-repeat;
}
.chess__chess-board :nth-child(22), .chess__chess-board :nth-child(24), .chess__chess-board :nth-child(26), .chess__chess-board :nth-child(28), .chess__chess-board :nth-child(73), .chess__chess-board :nth-child(75), .chess__chess-board :nth-child(77), .chess__chess-board :nth-child(79) {
  background: url(../img/peshka.png) center no-repeat;
}
.chess__chess-board :nth-child(23), .chess__chess-board :nth-child(25), .chess__chess-board :nth-child(27), .chess__chess-board :nth-child(29), .chess__chess-board :nth-child(72), .chess__chess-board :nth-child(74), .chess__chess-board :nth-child(76), .chess__chess-board :nth-child(78) {
  background: black url(../img/peshka-b.png) center no-repeat;
}